@use '../utils/' as u;
.loopstudio__main-container{
      padding: 100px 32px;
      max-width: 1200px;
      margin: 0 auto;

      @include u.breakpoint(medium){
        padding: 100px 0;
      }
}

.main__interactive{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include u.breakpoint(medium){
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-block-end: 13rem;
    }

    @include u.breakpoint(large){
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-block-end: 10rem;
    }

    .main__interactive-image{
        @include u.breakpoint(medium){
            flex: 1;
            max-width: 60%;
        }

        .interactive__image{
            height: auto;
        }
    }

    .main__interactive-text{
        background-color: var(--white);
        text-align: center;

        @include u.breakpoint(medium){
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(50%);
            padding: 2rem;
            flex: 1;
            max-width: 500px;
            text-align: left;
        }

        @include u.breakpoint(large){
            position: absolute;
            right: 50px;
            bottom: 0;
            transform: translateY(20%);
            padding: 3rem 5rem;
            flex: 1;
            max-width: 624px;
            text-align: left;
        }

        .main__interactive-paragraph{
            color: grey;
            font-size: 1rem;
            line-height: 1.6;
        }
    }
}

.main__interactive-header,
    .creations__title{
        text-transform: uppercase;
        font-size: clamp(2.1rem, 4vw, 2.5rem);
        margin-block: 48px 30px;
        color: black;
    }


.creations__header{
    @include u.breakpoint(medium){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.creations__grid{
    grid-template-columns: 1fr;
    gap: 30px;
    margin-block: 64px;
    
    @include u.breakpoint(medium){
        grid-template-columns: repeat(3, 1fr);
    }

    @include u.breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }

    .creation__item{
        position: relative;
        overflow: hidden;
        color: var(--white);

        .creations__image {
            width: 100%;
            display: block;
        }

        .creations__item-title{
            position: absolute;
            text-transform: uppercase;
            bottom: 24px;
            left: 16px;
            font-size: 26px;
            max-width: 140px;
        }
    }
}

.creations__btn {
  border: 2px solid black;
  outline: none;
  background: none;
  padding: 14px 64px;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  cursor: pointer;
}

.creation__item:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(243, 243, 243, 0.4);
    color: black;
  }


.creations__btn--desktop{
    display: none;

    @include u.breakpoint(medium){
        display: inline-block;
    }
}

.creations__btn--mobile{
    display: block;
    margin: 3rem auto 0;

    @include u.breakpoint(medium){
        display: none;
    }
}