*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey-200: hsl(0, 0%, 85%);
}

img{
    display: block;
    max-width: 100%;
}

body{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    font-family: "Alata", sans-serif;
    font-weight: 500;
    font-size: clamp(15px, 1vw + 8px, 16px);
}

h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    place-items: center;
}